@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap')

$orange: hsl(26, 100%, 55%)
$paleOrange: hsl(25, 100%, 94%)
$vDarkBlue: hsl(220, 13%, 13%)
$darkGrayBlue: hsl(219, 9%, 45%)
$grayBlue: hsl(220, 14%, 75%)
$lightGrayBlue: hsl(223, 64%, 98%)
$white: hsl(0, 0%, 100%)
$black: hsl(0, 0%, 0%)
$desBlack: hsl(0, 0%, 0%, 75%)
$breakpoint-tablet: 768px
$breakpoint-medium-desktop: 1024px
$breakpoint-large-desktop: 2000px


body::-webkit-scrollbar
    display: none

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Kumbh Sans'
    
.nav-container
    display: flex
    flex-direction: column
    position: relative
    // justify-content: space-between
    padding-left: 15px
    padding-right: 15px 
    // height: 8vh

    hr
        display: none

.nav-wrapper 
    display: flex 
    width: 100%
    justify-content: space-between
    align-items: center
    
.left-side
    display: flex
    height: 10vh
    align-items: center
    gap: 15px

.open-menu
    color: $darkGrayBlue
    font-size: 30px
    cursor: pointer
    padding-top: 5px

.profile
    display: flex 
    align-items: center
    gap: 15px

.profile-pic 
    cursor: pointer
    width: 30px

.profile-pic:hover
    border: 3px solid $orange
    border-radius: 100%

.cart
    font-size: 20px
    cursor: pointer

.cart-container
    position: relative

.qty
    position: absolute
    left: 12px
    top: -8px
    padding: 0px 5px
    border-radius: 10px
    background-color: $orange
    font-weight: 700
    font-size: 10px

.nav-links 
    display: flex
    position: absolute
    flex-direction: column
    gap: 15px
    background-color: $white
    height: 100vh
    padding-top: 15px
    padding-left: 15px
    width: 75%
    top: 0
    left: -100%
    z-index: 9999

.nav-links.active 
    left: 0
    box-shadow: 0 0 0 9999px #000000b0


.nav-links a 
    text-decoration: none
    color: $black
    font-weight: 700
    cursor: pointer

.close-menu
    font-size: 25px
    cursor: pointer

// !! PRODUCT DETAILS STYLE 

.productPage-wrapper
    display: flex
    position: relative
    flex-direction: column
    gap: 15px

.productInfo-wrapper 
    display: flex
    flex-direction: column
    gap: 15px
    padding: 0px 15px 20px

.productImages-wrapper
    position: relative

    button
        position: absolute
        display: flex
        z-index: 999
        border: none
        padding: 10px
        font-size: 16px
        border-radius: 100%
        cursor: pointer
        
    
    .left-arrow
        top: 45%
        left: 5%

    .right-arrow
        top: 45%
        right: 5%

.product-image
    width: 100%
    height: 40vh
    object-fit: cover

.heading
    display: flex
    flex-direction: column
    gap: 10px

    p 
        font-weight: 700
        color: $orange
        font-size: 14px

    h1 
        font-weight: 700
        font-size: 24px

    .product-desc
        color: $darkGrayBlue
        font-weight: 400
        line-height: 20px

.price-discount
    display: flex
    justify-content: space-between
    align-items: center
    div
        display: flex
        align-items: center 
        gap: 10px

        p
            font-size: 14px
            font-weight: 700
            color: $orange
            padding: 3px 8px 3px 8px
            background-color: $paleOrange
            border-radius: 6px
    
    s
        color: $grayBlue
        font-weight: 700
        font-size: 14px

.add-to-cart-container
    display: flex
    flex-direction: column
    gap: 15px


.qty-controller
    display: flex
    justify-content: space-between
    background-color: $lightGrayBlue
    padding: 15px 25px 15px 25px
    border-radius: 10px
    
    button
        background: none
        border: none
        color: $orange
        cursor: pointer

    p
        color: $black
        font-weight: 700

.add-to-cart
    display: flex
    align-items: center
    justify-content: center
    padding: 15px 25px 15px 25px
    background-color: $orange
    border-radius: 10px
    gap: 10px
    cursor: pointer

    p
        color: $white
        font-weight: 700
    

    



// !! PRODUCT DETAILS STYLE 

// !! CART STYLE

.cart-holder
    display: none
    position: absolute


.cart-holder.active
    position: absolute
    display: flex
    padding: 10px 10px 10px 10px
    width: 100%
    max-width: 320px
    z-index: 9998
     
    

.cart-items
    display: flex
    justify-content: center
    padding-top: 20px

.empty-cart
    color: $darkGrayBlue
    font-weight: 700

.cart-wrapper 
    background-color: $white
    width: 100%
    border-radius: 10px
    min-height: 200px
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.303)

    h4
        padding: 20px 10px 20px 20px
        font-size: 14px

    hr

        border-top: solid 1px $lightGrayBlue

.total 
    display: flex
    align-items: center
    gap: 5px

.delete
    cursor: pointer

.checkout
    cursor: pointer

.contents 
    display: flex
    gap: 10px
    align-items: center
    justify-content: space-between

.product-cart-desc 
    display: flex
    flex-direction: column

    h4
        font-size: 13px
        font-weight: 400
        color: $desBlack
        padding: 0px 0px 5px 0px

.total-wrapper
    display: flex 
    align-items: center
    gap: 10px

.calculation
    font-size: 14px
    font-weight: 400
    color: $desBlack

.total-price
    font-size: 14px
    font-weight: 700

.delete
    color: $desBlack

.checkout
    padding: 15px 40px 15px 40px
    background-color: $orange
    color: $white
    border: none
    border-radius: 10px
    font-weight: 700 

.cart-divider
    display: flex
    flex-direction: column 
    justify-content: space-between
    gap: 20px
    padding-left: 10px
    padding-right: 10px






// !! CART STYLE

.thumbnailImage-container
    display: none

@media (min-width: $breakpoint-tablet) 

    .left-side
        h2
            font-size: 30px

    .productInfo-page
        padding-left: 50px
        padding-right: 50px

    .productPage-wrapper
        position: relative
        padding-left: 80px
        padding-right: 80px

    .nav-links
        width: 50%

        a
            color: $desBlack
            font-weight: 400
            font-size: 14px
            padding-top: 5px
        
        a:hover 
            color: $orange

        

    .cart-holder.active
        top: 10px
        right: 10px

    .profile-pic
        width: 40px


@media (min-width: $breakpoint-medium-desktop) 

    

    .nav-container
        hr
            display: flex
            width: 100%
            color: rgb(131, 131, 131)



    .productInfo-page
        padding-left: 140px
        padding-right: 140px



    .open-menu 
        display: none
    
    .close-menu
        display: none

    .nav-links
        position: static
        background: none 
        flex-direction: row
        display: flex
        height: auto
        padding: 0px

    .productPage-wrapper
        
        display: flex
        flex-direction: row
        align-items: center
        height: 92vh

    .productImages-wrapper
        width: 60%

    .productInfo-wrapper
        width: 40%

    .arrows
        display: none

    .image-wrapper
        display: flex
        flex-direction: column
        gap: 30px
        max-width: 390px

    .product-image
        border-radius: 10px
        width: 100%
        max-width: 390px
        height: auto
        max-height: 390px
        object-fit: fill

    .thumbnailImage-container
        display: flex
        justify-content: space-between

    .thumbnail-image
        max-width: 70px
        border-radius: 10px

    .add-to-cart-container
        display: flex
        flex-direction: row
        justify-content: space-between

    .qty-controller
        width: 40%

    .add-to-cart
        width: 60%

    .heading
        h1
            font-size: 32px

    
        
@media (min-width: $breakpoint-large-desktop) 
    .productInfo-page
        padding-left: 780px
        padding-right: 780px